<header>
    <nav>
        <div class="logo">
            <h1>Library</h1>
        </div>
        <div class="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add a Book</a></li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li><a href="/auth/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
</header>